<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Files - AgentGate</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/vendor/highlight-github.min.css">
  <link rel="stylesheet" href="/static/vendor/highlight-github-dark.min.css" media="(prefers-color-scheme: dark)">
</head>
<body>
  <div id="app"></div>

  <script src="/static/vendor/highlight.min.js"></script>
  <script src="/static/vendor/marked.min.js"></script>
  <script src="/static/js/crypto.js"></script>
  <script src="/static/js/share-loader.js"></script>
  <script src="/static/js/passphrase.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/expiry-controls.js"></script>
  <script src="/static/js/file-viewer.js"></script>
</body>
</html>
